table {
  width: 950px;
  border-collapse: collapse;
  margin-top: 5px;
  margin: 50px auto;
}

/* Zebra striping */
tr:nth-of-type(odd) {
  background: #67CD79;
}

tr:nth-child(1) {
  background: rgb(156, 215, 199);
}

th {
  background: #67CD79;
  color: white;
  font-weight: bold;
}

td,
th {
  // padding: 10px;
  // border: 1px solid #ccc;
  text-align: left;
  font-size: 18px;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  table {
    width: 100%;
  }

  /* Force table to not be like tables anymore */
  table,
  thead,
  th,
  td,
  tr {
    display: block;
  }
  
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  .pback {
    background-color: rgba(248, 249, 250);
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    /* Label the data */
    content: attr(data-column);

    color: #000;
    font-weight: bold;
  }
}
